.wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    margin-right: 80px;
    .header-image {
        margin-bottom: 10px;
    }

    .header-link {
        line-height: 1;
    }

    .margin-shift{
        margin-right: 20px;
    }
}